@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* A ESTUDAR */
    background: #7159c1;
}

.container {
    display: grid;
    /* fr é flex em frações do screen */
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas: "h h"
                         "m a"
                         "f f"
}

header {
    background-color: yellow;
    grid-area: h;

    /*grid-column-start: 1;
    grid-column-end: 3;
    --------------Shorthand---------------
    grid-column: 1/3;*/
}

main {
    background-color: blue;
    grid-area: m;
}

aside {
    background-color: lightgreen;
    grid-area: a;
}

footer {
    background-color: red;
    grid-area: f;
}